.DropdownMenuItems2 {
  display: flex;
  flex-direction: column;
  position: absolute;
  list-style: none;
  text-align:left;
  width: 10rem;
  top: 60px;
  left: 10rem;
  background:   rgb(61, 247, 185);
  padding: 0px;
}

.BlockDropdown {
  display: flex;
  flex-direction: row;
}




.DropdownMenuItems2 a:hover {
  color: white;
  text-decoration: none;
}

       
       

 


 


