/* first dropdown */
.DropdownMenuItems {
  display: none;
  flex-direction: column;
  z-index:1;
  position: absolute;
  list-style: none;
  text-align: start;
  width: 10rem;
  /* top: 100px; */
  top: 100px;
  background:   rgb(61, 247, 185);
  padding: 0px;
}

/* second dropdown  */
.DropdownMenuItems .DropdownMenuItems {
  display: none;
  flex-direction: column;
  z-index:1;
  position: absolute;
  list-style: none;
  text-align: start;
  width: 10rem;
  top: 0px;
  right: -160px;
  background:   rgb(61, 247, 185);
  padding: 0px;
}




       
       

 


 


