.ManageArticle {
  color: aliceblue;
  width: 90%;
  background-color:  rgb(67, 211, 216);
  margin: 20px auto;
  padding: 20px;
  border-radius: 4px;
}

.titre {
  color: white;
}

.submit {
  text-align: right;
}

.submit input {
  background-color: rgb(234, 0, 255);
  margin: 5px;
  padding: 10px 15px;
  border: 0;
  color: aliceblue;
  cursor: pointer;
  border-radius: 4px;
}
.submit input:hover,
.submit input:focus {
  cursor: pointer;
  background-color: rgb(88, 88, 156);
}

.submit input:disabled {
  opacity: .5;
  cursor: not-allowed;
}
