.Navbar {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.2rem;
  height: 100px;
}

.Nav__bar__logo {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 6rem;
  text-decoration: none;
  vertical-align: middle;
}

.Nav__bar__logo:hover {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 6rem;
  text-decoration: none;
}

 