.Input {
  margin-bottom: 25px;
}

.Input label {
  text-transform: uppercase;
  font-weight: 200;
  display: block;
  text-align: left;
}

.Input input, .Input textarea, .Input select {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  font-family: arial;
  font-size: 1rem;
  border: 1px solid silver;
}

.invalid {
  background-color: #e47b7b;
}

.invalid2 {
  color: red;
}

.progress {
  width:100%;
  height: 5vh;
  margin-top: 100px;
  margin-left: auto;
  border: 2px solid red;
  align-content: flex-start;
}

.progressBar {
  margin: 0;
  padding: 0;
  width: 0%;
  height: 5vh;
  background: blue;
  transition: width 1s;
}

.imageSize {
  width: 200px;
  height: 200px;
}

.imageContainer {
  width: 400px;
  height: 400px;
  margin: auto;
  margin-top: 20px;
}

