.DropdownMenuItems {
  display: flex;
  flex-direction: column;
  position: absolute;
  list-style: none;
  text-align: start;
  width: 10rem;
  top: 100px;
  background:   rgb(61, 247, 185);
  padding: 0px;
}

 

       
       

 


 


