@import url("../Dropdown2/Dropdown2.module.css");
/* CSS OF NAVBAR ITEMS  */
.NavItems {
  display: inline-flex;
  height: 100px;
  align-items: center;

}

.NavItems a{
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  font-size: 1.1rem;
}

.NavItems .active {
  color: aqua;
}


.NavItems a:hover{
  background-color: rgb(1, 24, 16); 
  text-decoration: none;
  border-radius: 8px;
  transition: 0.3s all ease-out; 
  padding: 7px 5px;
}

/*  CSS OF DROPDOWN ITEMS  */
.NavSubMenuDestinations.clicked {
 display: none;
 color: white;
}

.NavSubMenuDestinations a{
  display: block;
  width: 100%;
  height: 100%;
  color: white;
}

.NavSubMenuDestinations a:hover{
  background-color: aquamarine; 
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.NavSubMenuDestinations .active{
    color: aqua;
  }


