/* CSS OF NAVBAR ITEMS  */
/* .NavItems {
  display: inline-flex;
  align-items: center;
} */

.NavItems a{
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  font-size: 1.1rem;
}

.NavItems .active {
  color: aqua;
}


.NavItems a:hover{
  color: rgb(12, 24, 24);
  text-decoration: none;
  border-radius: 8px;
  transition: 0.3s all ease-out; 
  padding: 7px 5px;
}

/*  CSS OF DROPDOWN ITEMS  */
.NavSubMenu1.clicked {
 display: none;
 color: white;
}

.NavSubMenu1 a{
  display: block;
  width: 100%;
  height: 100%;
  color: white;
}

.NavSubMenu2 a{
  display: block;
  width: 100%;
  height: 100%;
  color: white;
}

.NavSubMenu2 a:hover{
  background-color: rgb(5, 100, 68); 
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.NavSubMenu2 .active{
  color: rgb(12, 24, 24);
}


.NavSubMenu1 a:hover{
  background-color: rgb(5, 100, 68); 
  color: white;
  text-decoration: none;
  cursor: pointer;
}



