.NavMenuItems {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
  text-align: center;
  width: 40vw;
  margin-right: 8rem;
  justify-content: space-between;
  margin-top: 0px;
  margin-bottom: 0px;
}
 
 


 