
@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-react-inputs/styles/material.css";

.App {
  text-align: center;
  height: 100vp;
}

body {
  background-color: black;
  /* padding: 0px;
  overflow-x: hidden;
  background-repeat: repeat;
  font-family: 'Inter', sans-serif;
  display: grid;
  grid-template-rows: 100px auto 40px;
  grid-template-columns: auto;
  grid-template-areas: "header"
                       "main"
                       "footer"; */
}

header {
  /* grid-area: header; */
  /* background-color: aquamarine; */
  background: linear-gradient(90deg, rgb(218, 213, 213) 0%, black 100%);
}
 
footer {
  background: linear-gradient(90deg, rgb(218, 213, 213) 0%, black 100%);
}