.titleH1 {
  color: white;
  position: absolute;
  top: 10vh;
  right: 40vw;
}

.h2 {
  color: white;
}

.ImageContainer {
  width: 100%;
  height: 30vh;
  background-size: cover;
  display: inline-block;
  position: relative;
}

.Image {
  width: 100%;
  height: 100%;
}

.EspritBlog {
  background: rgba(0, 0, 0, 0.8);
  z-index: 1;
  overflow: hidden;
  position: absolute;
  text-align: left;
  font-family: Georgia;
  margin: 0 auto;
  left: 2vw;
  top: 10%;
  color: white;
  width: 40%;
  height: 80%;
}

 


 