.titleH1 {
  color: white;
  position: absolute;
  top: 10vh;
  right: 40vw;
}

.h2 {
  color: white;
}

.ImageContainer {
  width: 100%;
  height: 30vh;
  background-size: cover;
  position: relative;
}

.Image {
  width: 100%;
  height: 100%;
}

.ContainerEspritBlog {
  position: relative;
  width: 100%;
  height: 40vh;
  background-size: 'cover';
}

.EspritBlog {
  top: 1vh;
  position: absolute;
  width: 30%;
  overflow: hidden;
  background-color: rgb(133, 140, 143);
  color: white;
  margin-left: 10%;
}